{% load i18n %}
{% autoescape off %}
<div style="font-family: Arial, sans-serif; line-height:1.6; color: #333;">
 <p style="font-size:16px;">
 {% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для вашего аккаунта на {{ site_name }}.{% endblocktranslate %}
 </p>

 <p style="font-size:16px;">
 {% translate "Пожалуйста, перейдите на следующую страницу и выберите новый пароль:" %}
 </p>
 <p>
 {% block reset_link %}
 <a href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}" style="display: inline-block; background-color: #007bff; color: white; padding:10px20px; text-decoration: none; border-radius:5px;">
 {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
 </a>
 {% endblock %}
 </p>

 <p style="font-size:16px;">
 {% translate 'Ваше имя пользователя, если вы его забыли:' %} {{ user.get_username }}
 </p>

 <p style="font-size:16px;">
 {% translate "Спасибо, что используете наш сайт!" %}
 </p>

 <p style="font-size:16px;">
 {% blocktranslate %}С уважением, команда {{ site_name }}{% endblocktranslate %}
 </p>
</div>
{% endautoescape %}