{% include "layout/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

<style>
    body {
        background-color: #f0f0f0; /* Светло-серый фон для улучшения контраста */
    }

    .btn-update {
        transition: background-color 0.3s, transform 0.3s;
    }

    .btn-update:hover {
        background-color: #28a745; /* Цвет кнопки при наведении */
        transform: scale(1.05); /* Уменьшенное увеличение эффекта */
    }
</style>

{% block content %}
<div class="container py-5">
    <div class="bg-white shadow-lg rounded p-4">
        <h3 class="text-center">Изменение профиля</h3>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success btn-lg w-100 btn-update">Обновить данные</button>
        </form>
    </div>  
</div>  
{% endblock %}